{% extends "base.html" %}
{% block aboutactive%}active {%endblock aboutactive%}
{% block title %}
About
{%endblock title%}


{% block body %}
    <div class="container my-3">
        <h2 class="text-center my-3 py-3">
            About Me
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/user/erondu/500x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Designer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/user/erondu/500x300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/user/erondu/500x300/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Entertainer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <h1 class="my-4">
            My Coding Video
        </h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G-kdYhufgDo"
                allowfullscreen></iframe>
        </div>
    
    <p>
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias ea sequi eius itaque reiciendis quisquam laudantium sint, consectetur, enim obcaecati cumque numquam inventore officia omnis nihil sit fugiat possimus minus delectus nam blanditiis ullam maxime rem ab? Ipsum, cupiditate. Ducimus, maxime. Laudantium assumenda quaerat facere, pariatur eum quas illo. Voluptatibus.
    </p>
        </div>
  {% endblock body %}